body{
    background-image: url("háttérű.jpg");
    color: blueviolet;
    display:grid;
    grid-template-columns:"h h h"
                          "na na na"
                          "a a as"
                          "f f f"
    
    ;
}
header{
    grid-template-areas: h;
}
nav{
    grid-template-areas: na;
    text-align: center;
}

article{
    grid-template-areas: a;
    background-color: gray;
    background-position: center;
    margin: 20px;
    text-align: center;
    
}
footer{
    grid-template-areas: f;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
aside{
    grid-template-areas: as;
}
ul {
    list-style-type: none;
    
}
